<div class="jumbotron">
	<div class="container">
	    <h1>Welcome to Turnabout!</h1>
	    <p>{{message}}</p>
	    <p>
	      <a href="#/createProfile" class="btn btn-primary btn-lg" role="button">Signup!</a>
	      <a href="#/login" class="btn btn-primary btn-lg" role="button">Login</a>
	    </p>
	    <p>Blah blah blah</p>
	    <p>Blah blah blah</p>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>
  	</div>
  </div>
</div>