<div class="jumbotron">
	    <h1> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWelcome to Turnabout!</h1>
	    <h3> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWe're glad to have you. To get started, signup or login below.</h3>
</div>
	<div class="container">
	    </br>
	    <p>
	      <a href="#/createProfile" class="btn btn-primary btn-lg" role="button">Signup!</a>
	      <a href="#/login" class="btn btn-primary btn-lg" role="button">Login</a>
	    </p>
	    <p>WHAT ELSE WANTS TO “TURNABOUT IN THEIR DATING LIFE?
THERE ARE SO MANY DATING SITES OUT THERE IN THE WORLD RIGHT NOW. AND YET DESPITE THE CLAIMS MADE BY THOSE WEBSITES AND APPS, A VAST MAJORITY OF MEN AND WOMEN ARE JUST NOT GETTING WHAT THEY WANT.
WHY IS THAT? YOU MIGHT ASK…..COULD IT POSSIBLY BE THAT ONLINE DATING DOSENT WORK? OR COULD IT JUST BE THAT ALL THE DATING SITES ON THIS PLANET HAVE NO IDEA ABOUT THE MALE FEMALE DYNAMICS AT PLAY. THEY DON’T REALISE THAT WHAT WOMEN WANT AND MEN WANT ARE COMPLETELY DIFFERENT THINGS, WHAT ATTRACTS A GUY TO A GIRL IS WAY DIFFERENT THAN WHAT ATTRACTS A GIRL TO A GUY.
THESE ARE THE PROBLEMS THAT TURNABOUT SOLVES. SO HOW EXACTLY ARE WE DIFFERENT?
WE WONT GO INTO TOO MANY DETAILS BUT HERE ARE A FEW
1. WOMEN HAVE TO INITIATE FIRST ( NO MORE UNWANTED MESSAGES FROM GUYS YOU ARENT INTERESTED IN, CONVERSATIONS CAN BE STARTED ONLY IF THE WOMAN WANTS THEM TO START)
</p>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>
	    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	    <span>Text</span><br>

	    </p>
	    <p>WHAT ELSE WANTS TO “TURNABOUT IN THEIR DATING LIFE?
THERE ARE SO MANY DATING SITES OUT THERE IN THE WORLD RIGHT NOW. AND YET DESPITE THE CLAIMS MADE BY THOSE WEBSITES AND APPS, A VAST MAJORITY OF MEN AND WOMEN ARE JUST NOT GETTING WHAT THEY WANT.
WHY IS THAT? YOU MIGHT ASK…..COULD IT POSSIBLY BE THAT ONLINE DATING DOSENT WORK? OR COULD IT JUST BE THAT ALL THE DATING SITES ON THIS PLANET HAVE NO IDEA ABOUT THE MALE FEMALE DYNAMICS AT PLAY. THEY DON’T REALISE THAT WHAT WOMEN WANT AND MEN WANT ARE COMPLETELY DIFFERENT THINGS, WHAT ATTRACTS A GUY TO A GIRL IS WAY DIFFERENT THAN WHAT ATTRACTS A GIRL TO A GUY.
THESE ARE THE PROBLEMS THAT TURNABOUT SOLVES. SO HOW EXACTLY ARE WE DIFFERENT?
WE WONT GO INTO TOO MANY DETAILS BUT HERE ARE A FEW
1. WOMEN HAVE TO INITIATE FIRST ( NO MORE UNWANTED MESSAGES FROM GUYS YOU ARENT INTERESTED IN, CONVERSATIONS CAN BE STARTED ONLY IF THE WOMAN WANTS THEM TO START)
</p>

</p>
	    <p>WHAT ELSE WANTS TO “TURNABOUT IN THEIR DATING LIFE?
THERE ARE SO MANY DATING SITES OUT THERE IN THE WORLD RIGHT NOW. AND YET DESPITE THE CLAIMS MADE BY THOSE WEBSITES AND APPS, A VAST MAJORITY OF MEN AND WOMEN ARE JUST NOT GETTING WHAT THEY WANT.
WHY IS THAT? YOU MIGHT ASK…..COULD IT POSSIBLY BE THAT ONLINE DATING DOSENT WORK? OR COULD IT JUST BE THAT ALL THE DATING SITES ON THIS PLANET HAVE NO IDEA ABOUT THE MALE FEMALE DYNAMICS AT PLAY. THEY DON’T REALISE THAT WHAT WOMEN WANT AND MEN WANT ARE COMPLETELY DIFFERENT THINGS, WHAT ATTRACTS A GUY TO A GIRL IS WAY DIFFERENT THAN WHAT ATTRACTS A GIRL TO A GUY.
THESE ARE THE PROBLEMS THAT TURNABOUT SOLVES. SO HOW EXACTLY ARE WE DIFFERENT?
WE WONT GO INTO TOO MANY DETAILS BUT HERE ARE A FEW
1. WOMEN HAVE TO INITIATE FIRST ( NO MORE UNWANTED MESSAGES FROM GUYS YOU ARENT INTERESTED IN, CONVERSATIONS CAN BE STARTED ONLY IF THE WOMAN WANTS THEM TO START)
</p>

</p>
	    <p>WHAT ELSE WANTS TO “TURNABOUT IN THEIR DATING LIFE?
THERE ARE SO MANY DATING SITES OUT THERE IN THE WORLD RIGHT NOW. AND YET DESPITE THE CLAIMS MADE BY THOSE WEBSITES AND APPS, A VAST MAJORITY OF MEN AND WOMEN ARE JUST NOT GETTING WHAT THEY WANT.
WHY IS THAT? YOU MIGHT ASK…..COULD IT POSSIBLY BE THAT ONLINE DATING DOSENT WORK? OR COULD IT JUST BE THAT ALL THE DATING SITES ON THIS PLANET HAVE NO IDEA ABOUT THE MALE FEMALE DYNAMICS AT PLAY. THEY DON’T REALISE THAT WHAT WOMEN WANT AND MEN WANT ARE COMPLETELY DIFFERENT THINGS, WHAT ATTRACTS A GUY TO A GIRL IS WAY DIFFERENT THAN WHAT ATTRACTS A GIRL TO A GUY.
THESE ARE THE PROBLEMS THAT TURNABOUT SOLVES. SO HOW EXACTLY ARE WE DIFFERENT?
WE WONT GO INTO TOO MANY DETAILS BUT HERE ARE A FEW
1. WOMEN HAVE TO INITIATE FIRST ( NO MORE UNWANTED MESSAGES FROM GUYS YOU ARENT INTERESTED IN, CONVERSATIONS CAN BE STARTED ONLY IF THE WOMAN WANTS THEM TO START)
</p>

</p>
	    <p>WHAT ELSE WANTS TO “TURNABOUT IN THEIR DATING LIFE?
THERE ARE SO MANY DATING SITES OUT THERE IN THE WORLD RIGHT NOW. AND YET DESPITE THE CLAIMS MADE BY THOSE WEBSITES AND APPS, A VAST MAJORITY OF MEN AND WOMEN ARE JUST NOT GETTING WHAT THEY WANT.
WHY IS THAT? YOU MIGHT ASK…..COULD IT POSSIBLY BE THAT ONLINE DATING DOSENT WORK? OR COULD IT JUST BE THAT ALL THE DATING SITES ON THIS PLANET HAVE NO IDEA ABOUT THE MALE FEMALE DYNAMICS AT PLAY. THEY DON’T REALISE THAT WHAT WOMEN WANT AND MEN WANT ARE COMPLETELY DIFFERENT THINGS, WHAT ATTRACTS A GUY TO A GIRL IS WAY DIFFERENT THAN WHAT ATTRACTS A GIRL TO A GUY.
THESE ARE THE PROBLEMS THAT TURNABOUT SOLVES. SO HOW EXACTLY ARE WE DIFFERENT?
WE WONT GO INTO TOO MANY DETAILS BUT HERE ARE A FEW
1. WOMEN HAVE TO INITIATE FIRST ( NO MORE UNWANTED MESSAGES FROM GUYS YOU ARENT INTERESTED IN, CONVERSATIONS CAN BE STARTED ONLY IF THE WOMAN WANTS THEM TO START)
</p>

</p>
	    <p>WHAT ELSE WANTS TO “TURNABOUT IN THEIR DATING LIFE?
THERE ARE SO MANY DATING SITES OUT THERE IN THE WORLD RIGHT NOW. AND YET DESPITE THE CLAIMS MADE BY THOSE WEBSITES AND APPS, A VAST MAJORITY OF MEN AND WOMEN ARE JUST NOT GETTING WHAT THEY WANT.
WHY IS THAT? YOU MIGHT ASK…..COULD IT POSSIBLY BE THAT ONLINE DATING DOSENT WORK? OR COULD IT JUST BE THAT ALL THE DATING SITES ON THIS PLANET HAVE NO IDEA ABOUT THE MALE FEMALE DYNAMICS AT PLAY. THEY DON’T REALISE THAT WHAT WOMEN WANT AND MEN WANT ARE COMPLETELY DIFFERENT THINGS, WHAT ATTRACTS A GUY TO A GIRL IS WAY DIFFERENT THAN WHAT ATTRACTS A GIRL TO A GUY.
THESE ARE THE PROBLEMS THAT TURNABOUT SOLVES. SO HOW EXACTLY ARE WE DIFFERENT?
WE WONT GO INTO TOO MANY DETAILS BUT HERE ARE A FEW
1. WOMEN HAVE TO INITIATE FIRST ( NO MORE UNWANTED MESSAGES FROM GUYS YOU ARENT INTERESTED IN, CONVERSATIONS CAN BE STARTED ONLY IF THE WOMAN WANTS THEM TO START)
</p>
</div>