<div class="container">
  <div class="page-header">
    <h1> {{ groupName }} <small> {{ searchCriteria }} </small></h1>
  </div>

  <div id="theList" class="list-group">
    <li class="thumbnail col-sm-12" ng-repeat="profile in profiles">
      <a href="{{fileLocation.absUrl()}}/{{profile.username}}"><img class="col-sm-4" ng-src="{{ profile.image_src }}"></a>
      <div class="caption col-sm-8">
        <h2>{{ profile.username }}</h2>
        <h4>{{ profile.points }}Ƥ</h4>
        <p>{{profile.detail}}</p>
        <p><a href="#" class="btn btn-primary" role="button" ng-click= "sendLike(profile)">Like</a></p>
        <p><a href='#/browse' editable-text="" ng-model="messageContent" >Message</a> 
        </p>
        <p><a href='#/browse' role="button"  ng-click= "sendMessage()">Send</a> 
        </p>
      </div>
    </li>
  </div>
</div>
