<div class="container">
  <form role="create" class="simple-form" ng-submit="createProfile()">
    Email: <input type="email" class="form-control" ng-model="profile.email" placeholder="Email"/>
    <br />
    Password: <input type="text" class="form-control" ng-model="profile.password" placeholder="Password" />
    <br />
    Username: <input type="text" class="form-control" ng-model="profile.username" placeholder="Username" />
    <br />
    Location: <input type="text" class="form-control" ng-model="profile.location" placeholder="Location" />
    <br />
    Age: <input type="number" class="form-control" ng-model="profile.age" placeholder="Age" />
    <br />
    <div class="row">
      <div class="col-lg-2">
        <div class="input-group"> 
          <span class="input-group-addon">
            <input type="radio" ng-model="profile.gender" value="male"></input>
          </span>
          <span class="input-group-addon" id="basic-addon2">Male</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="input-group"> 
          <span class="input-group-addon">
            <input type="radio" ng-model="profile.gender" value="female"></input>
          </span>
          <span class="input-group-addon" id="basic-addon2">Female</span>
        </div>
      </div>
    </div>
    <br/>
    <input class="btn btn-default" type="button" ng-click="reset()" value="Reset" />
    <button class="btn btn-default">Create</button>
  </form>
  
  <div id="questionList" class="list-group">
    <li class="thumbnail col-sm-12" ng-repeat="question in profile.survey">
      <h3> {{question.question}} </h3>

      <div ng-repeat="answer in question.answers">
        <div class="input-group"> 
          <span class="input-group-addon">
            <input type="radio" ng-model="profile.survey[$parent.$index].userResponse" value={{answer}}></input>
          </span>
          <span class="input-group-addon" id="basic-addon2">{{answer}}</span>
        </div>
      </div>
    </li>
  </div>
  <pre>profile = {{profile | json}}</pre>
</div>