<!-- C-->
<!-- this is required to update the favicon.ico for some reason -->
<link rel="shortcut icon" href="/favicon.ico?v=3" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>

<!-- <script src="javascripts/angular.js"></script>
<script src="javascripts/angular-route.js"></script> -->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> -->

<!-- jQuery library -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- <script src="javascripts/jquery.min.js"></script> -->

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- <script src="javascripts/bootstrap.min.js"></script> -->

<link href="angular-xeditable/css/xeditable.css" rel="stylesheet">
<script src="angular-xeditable/js/xeditable.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="components/angular-socket-io/socket.js"></script>

<script src="javascripts/main_controller.js"></script>

<!DOCTYPE html>
<html lang="en" ng-app="WhySoSingle" ng-controller="MainController as main">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" role="button" ng-click="goToHome()" >Turnabout</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <span ng-show="userSession.isLoggedIn()">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
            <!-- <li><a href="#/createProfile">Sign up!</a></li> -->
            <!-- <li><a href="#">Profile</a></li> -->
            <li><a href="#/blog">Blog</a></li>
            <li><a href="#/search">Search</a></li>
            <!-- <form class="navbar-form navbar-left" role="search"> -->
              <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div> -->
              <!-- <button type="submit" class="btn btn-default">Search</button> -->
            <!-- </form> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="#">Contact Us</a></li> -->
              <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{userSession.getUserSession().username}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-href="#/profile/{{userSession.getUserSession().username}}">My Profile</a></li>
                  <li><a ng-href="#/messages">Messages</a></li>
                  <!-- <li><a href="#/browse">Browse Profiles</a></li> -->
                  <li class="divider"></li>
                  <li><a ng-href="#" ng-click="logout()">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </span>
      </div><!-- /.container-fluid -->
    </nav>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" ng-show="userSession.isLoggedIn()">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
              <a href="#"><img src="glyphicons_free/glyphicons/png/glyphicons-23-fire.png" style="max-width: 20px; max-height: 20px; width: auto; height: auto; "/> &nbspSee Matches</a>
            </li>
            <li role="presentation">
              <a href="#"><img src="glyphicons_free/glyphicons/png/glyphicons-11-envelope.png" style="max-width: 20px; max-height: 20px; width: auto; height: auto; "/> &nbspMessages <span class="badge">2</span></a>
            </li>
            <li role="presentation"><a href="#"><img src="glyphicons_free/glyphicons/png/glyphicons-20-heart-empty.png" style="max-width: 20px; max-height: 20px; width: auto; height: auto; "/> &nbspLikes <span class="badge">5</span></a></li>
            <li role="presentation"><a href="#"><img src="glyphicons_free/glyphicons/png/glyphicons-13-heart.png" style="max-width: 20px; max-height: 20px; width: auto; height: auto; "/> &nbspWho I Liked</a></li>
            <li role="presentation"><a href="#">Feature 5</a></li>
            <li role="presentation"><a href="#">Feature 6</a></li>
          </ul>
        </div>
        <div ng-switch="userSession.isLoggedIn()">
          <div class="col-md-10" ng-switch-when="true">
            <ng-view></ng-view>
          </div>
          <!-- TODO: make this better (should be a better way than to use two ng-view's) -->
          <div class="col-md-12" ng-switch-when="false">
            <ng-view></ng-view>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>