<div class="container">
	<h2>Welcome back to Turnabout!</h2>
	{{message}}<br>

	<form class="simple-form" ng-submit="login()">
	  
	  <input type="email" class="form-control" ng-model="user.username" placeholder="Username" /><br />

	  <input type="text" class="form-control" ng-model="user.password" placeholder="Password" /><br />
	  
	  <button class="btn btn-default">Login</button>
	</form>
	<h2>Not a current user?</h2>
	<h2>Register <a href="http://localhost:1337/#/createProfile">here</a></h2>
</div>