<div class="container">
  <div id="theList" class="list-group">
    <li class="thumbnail col-sm-12">
<!--       <img class="col-sm-4" ng-src="{{ userImg }}"-->
      <img class="col-sm-4" src='<%= imageLink %>'>
      <div class="caption col-sm-8">
        <h2>{{ userProfile.username }}</h2>
        <h4>{{ userProfile.points }}Ƥ</h4>
        <p>{{userProfile.detail}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Like</a></p>
      </div>
    </li>
  </div>
</div>
<form id="uploadForm" enctype="multipart/form-data" action="/upload/photo" method="post">
  <input type="file" name="profilePic" />
  <input type="submit" value="Upload Image" name="submit">
</form>
