<div class="container">
  <div id="theList" class="list-group">
    <li class="thumbnail col-sm-12">
      <img class="col-sm-4" ng-src="{{ userProfile.image_src }}">
      <div class="caption col-sm-8">
        <h2>{{ userProfile.username }}</h2>
        <h4>{{ userProfile.points }}Ƥ</h4>
        <p>{{userProfile.detail}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Like</a></p>
      </div>
    </li>
  </div>
</div>